.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  overflow: hidden;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(65, 212, 231);
}

.buttonWrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonWrapper button {
  font-size: 140%;
  border: none;
  background-color: transparent;
  transition: color 200ms ease-in-out;
}

.buttonWrapper button:hover {
  color: white;
}

.info {
  color: white;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.wrapper > p {
  margin-top: 0;
}

.tabuleiroContainer {
  display: flex;
  flex-direction: row;
}

.tabuleiro {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.cell {
  background-color: rgb(118, 205, 245);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  font-size: 350%;
  width: var(--cell-size);
  height: var(--cell-size);
  overflow: hidden;
  cursor: pointer;
  border: 5px solid #1c1c1c;
  /* border-radius: 20px; */
  /* border: 2px solid #1c1c1c; */
  /* box-shadow: inset 0px 0px 5px 0.5px #c0c2c9; */
  transition: all 200ms linear;
}

.cell:hover {
  /* box-shadow: inset 0px 0px 8px 0.5px white; */
}

.cellX {
  background-color: pink;
}

.cellO {
  background-color: green;
}
